feedparser
requests
chromadb
sentence-transformers
python-dotenv
groq
fastapi
uvicorn[standard]
langchain-text-splitters
aiohttp
ragas
datasets
langchain-groq
langchain-huggingface
tabulate
google-generativeai
langchain-google-genai
einops
beautifulsoup4
optimum[onnxruntime]
